{% load static %}

{% if event.post %}
    <a class="text-decoration-none" href="{% url "post-detail" pk=event.post.pk %}">
        <h6>{{ event.name }}</h6>
        <p>{{ event.description }}</p>
        {% if event.post.thumbnail %}
            <img class="w-100 rounded" src="{% get_media_prefix %}{{ event.post.thumbnail }}"
                 alt="thumbnail"/>
        {% endif %}
        <small>
            Start time: {{ event.start_time }}<br/>
            Ends time: {{ event.end_time }}
        </small>
    </a>
{% else %}
    <h6>{{ event.name }}</h6>
    <p>{{ event.description }}</p>
    <small>
        Start time: {{ event.start_time }}<br/>
        End time: {{ event.end_time }}
    </small>
{% endif %}
