{% extends "layout.html" %}

{% load static %}

{% block title %}{% if object %}{{ object }}{% else %}Blog Root{% endif %}{% endblock %}

{% block heading %}

    {% if object %}
        {{ object }}
    {% else %}
        Browse Blog
    {% endif %}

{% endblock %}

{% block description %}

    {% if object %}
        {{ object.description }}
    {% else %}
        You are currently at the root of this blog.
    {% endif %}

{% endblock %}

{% block widgets %}

    {% if object %}
        <a class="btn btn-primary btn" href="{% if object.parent %}
            {% url "category-detail" pk=object.parent.pk %}
        {% else %}
            {% url "blog-root" %}
        {% endif %}" role="button">Parent</a>
    {% endif %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="box p-3">
                <h4>Posts</h4>
                {% for post in posts %}
                    <hr/>
                    {% include "blog/includes/post_info.html" with post=post %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="box p-3">
                <h4>Subcategories</h4>
                {% for category in categories %}
                    <hr/>
                    {% include "blog/includes/category_info.html" with category=category %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
