<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - U of T Poker Club</title>

    {% load static %}

    <link rel="icon" href="{% static "favicon.ico" %}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static "stylesheets/default.css" %}"/>

    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="min-vh-100 d-flex flex-column bg-light" id="wrapper">
    <nav class="navbar navbar-dark navbar-expand-lg sticky-top shadow bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url "home" %}">U of T Poker Club</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-items"
                    aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "room-list" %}">Games</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbar-dropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Community
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                            <a class="dropdown-item" href="{% url "user-list" %}">Users</a>
                            <a class="dropdown-item" href="{% url "organization-list" %}">Organizations</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "blog-root" %}">Blog</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "correspondence-create" %}">About</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "user-detail" pk=user.id %}">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "logout" %}?next={{ request.path }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login" %}?next={{ request.path }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "user-create" %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="flex-fill d-flex flex-column container-lg bg-white shadow px-5 pt-5">
        <div class="flex-fill">
            <header class="jumbotron shadow">
                <div class="container">
                    <h2>{% block heading %}{% endblock %}</h2>
                    <p>{% block description %}{% endblock %}</p>
                    {% block widgets %}{% endblock %}
                </div>
            </header>
            <main class="flex-fill">
                {% block content %}{% endblock %}
            </main>
        </div>
        <footer class="text-center border-top py-3">
            <span class="mx-auto">&copy; 2020 - U of T Poker Club</span>
        </footer>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static "javascripts/default.js" %}"></script>

{% block scripts %}{% endblock %}

</body>
</html>