{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block heading %}Welcome to U of T Poker Club!{% endblock %}

{% block description %}

    We strive to promote poker within the U of T community by running social events online and campus wise. We denounce
    financial gambling and advocate the sporting side of poker.

{% endblock %}

{% block widgets %}

    <a class="btn btn-primary btn" href="#" role="button">Browse Games</a>
    <a class="btn btn-primary btn" href="#" role="button">Contact Us</a>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-8">
            <div class="border border-light rounded shadow p-3 mb-4">
                <h4>Blog Posts</h4>
                <hr/>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="border border-light rounded shadow p-3 mb-4">
                <h4>Ongoing Events</h4>
                <hr/>

            </div>
            <div class="border border-light rounded shadow p-3 mb-4">
                <h4>Scheduled Events</h4>
                <hr/>

            </div>
        </div>
    </div>

{% endblock %}
