{% extends "gamemaster/includes/seat.html" %}

{% load static %}
{% load gamemaster %}

{% block external %}

    <div class="{% if object.num_hole_cards <= 2 %}w-75{% endif %} row mx-auto">
        {% for j in object.num_hole_cards|times %}
            <div class="col p-0">
                <img class="w-100" id="seat-{{ i }}-card-{{ j }}"
                     src="{% static "gamemaster/images/cards/null.png" %}" alt="seat-{{ i }}-card-{{ j }}"/>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block internal %}

    <div class="text-primary small font-weight-bold" id="seat-{{ i }}-stack"></div>

{% endblock %}
