{% load static %}


<div class="text-center" id="seat-{{ i }}">
    <div>
        {% block external %}{% endblock %}
    </div>
    <div class="box bg-light seat-tag" id="seat-{{ i }}-tag" data-toggle="tooltip" data-placement="bottom"
         data-html="true" data-status="">
        <div class="row mx-0">
            <img class="col-4 px-0 rounded" id="seat-{{ i }}-avatar"
                 src="{% static "gamemaster/images/transparent.png" %}"
                 alt="avatar"/>
            <div class="col-8 px-0 py-1">
                <div id="seat-{{ i }}-username"></div>
                <div class="text-danger small font-weight-bold" id="seat-{{ i }}-status"></div>
                {% block internal %}{% endblock %}
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="seat-{{ i }}-progress-bar"
                 role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
