{% extends "gamemaster/pokerroom_detail.html" %}


{% block seat-0 %}
    {% include "gamemaster/includes/pokerseat.html" with i=0 num_cards=object.num_hole_cards %}
{% endblock %}
{% block felt-0 %}
    {% include "gamemaster/includes/felt.html" with i=0 %}
{% endblock %}

{% block seat-2 %}
    {% include "gamemaster/includes/pokerseat.html" with i=1 num_cards=object.num_hole_cards %}
{% endblock %}
{% block felt-2 %}
    {% include "gamemaster/includes/felt.html" with i=1 %}
{% endblock %}

{% block seat-3 %}
    {% include "gamemaster/includes/pokerseat.html" with i=2 num_cards=object.num_hole_cards %}
{% endblock %}
{% block felt-3 %}
    {% include "gamemaster/includes/felt.html" with i=2 %}
{% endblock %}

{% block seat-5 %}
    {% include "gamemaster/includes/pokerseat.html" with i=3 num_cards=object.num_hole_cards %}
{% endblock %}
{% block felt-5 %}
    {% include "gamemaster/includes/felt.html" with i=3 %}
{% endblock %}

{% block seat-6 %}
    {% include "gamemaster/includes/pokerseat.html" with i=4 num_cards=object.num_hole_cards %}
{% endblock %}
{% block felt-6 %}
    {% include "gamemaster/includes/felt.html" with i=4 %}
{% endblock %}

{% block seat-7 %}
    {% include "gamemaster/includes/pokerseat.html" with i=5 num_cards=object.num_hole_cards %}
{% endblock %}
{% block felt-7 %}
    {% include "gamemaster/includes/felt.html" with i=5 %}
{% endblock %}
