{% extends "layout.html" %}

{% load django_tables2 %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{% static object.stylesheet_path %}"/>

{% endblock %}

{% block heading %}Room {{ object.name }}{% endblock %}

{% block description %}{{ object.description }}{% endblock %}

{% block widgets %}

    {% if user.is_authenticated %}
        <button class="btn btn-success btn" id="command-online" role="button">Connect</button>
        <button class="btn btn-danger btn" id="command-offline" role="button">Disconnect</button>
        <button class="btn btn-secondary btn" id="command-away" role="button">Sit Out</button>
    {% else %}
        <a class="btn btn-primary btn" href="{% url "login" %}?next={{ request.path }}" role="button">Log in</a>
    {% endif %}

{% endblock %}

{% block content %}

    <div class="box">
        {% block game %}{% endblock %}
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        let room;

        import("{% static object.javascript_module_path %}").then(roomModule => {
            room = new roomModule.{{ object.model_name }}();
        });
    </script>

{% endblock %}
