<div class="row px-2 mx-0 my-4">
    <div class="col-3 d-flex flex-column justify-content-center">
        {% include "gamemaster/includes/seat.html" with i=0 %}
    </div>
    <div class="col-6 box bg-light p-0 mb-0">
        {% for r in "012" %}
            <div class="d-flex flex-row">
                {% for c in "012" %}
                    <div class="flex-fill">
                        <div class="square ttt-cell" id="board-{{ r }}-{{ c }}" data-index></div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="col-3 d-flex flex-column justify-content-center">
        {% include "gamemaster/includes/seat.html" with i=1 %}
    </div>
</div>
